$laptop: 992;
$tablet: 768;
$mobile: 480;

@mixin laptop {
  @media (max-width: #{$laptop}px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}px) {
    @content;
  }
}
