/* reset */
button {
  all: unset;
}

.SelectTrigger {
  display: inline-flex;
  gap: 45px;
  align-items: center;
  justify-content: center;

  height: 35px;
  margin: 100px;
  padding: 6px 15px;

  font-size: var(--font-size-m);
  line-height: var(--font-size-xxl);
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
  border-radius: 2px;
  outline: 1px solid var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-500);
    outline: 1px solid var(--color-dark-100);
  }

  &:focus {
    background-color: inherit;
    outline: 2px solid var(--color-info-700);
  }

  &[data-placeholder] {
    color: currentcolor;
  }
}

.SelectIcon {
  // color: var(--color-light-100);
  // background-color: var(--color-dark-900);
}

.SelectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  height: 25px;
  padding: 0 35px 0 25px;

  font-size: 13px;
  line-height: 1;
  color: #6550b9;

  border-radius: 3px;
}

.SelectItem[data-disabled] {
  pointer-events: none;
  color: #73aec9;
}

.SelectItem[data-highlighted] {
  color: #50b991;
  background-color: #6550b9;
  outline: none;
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: #562cff;
}

.SelectSeparator {
  height: 1px;
  margin: 5px;
  background-color: #a6b950;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
}

.SelectScrollButton {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 25px;

  color: #6550b9;

  background-color: white;
}
