/* reset */
button {
  all: unset;
}

.selectWrapper {
  display: flex;
  flex-direction: column;
  max-width: 210px;
}

.label {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);
}

.selectIcon {
  fill: var(--color-light-100);
}

.selectTrigger[data-placeholder] {
  color: var(--color-light-100);
}

.selectTrigger {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  min-width: 210px;
  padding: 6px 15px;

  font-size: var(--font-size-m);
  line-height: var(--font-size-xxl);
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
  border-radius: 2px;
  outline: 1px solid var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-500);
    outline: 1px solid var(--color-dark-100);
  }

  &:focus {
    background-color: inherit;
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    &:hover {
      background-color: inherit;
      outline: 1px solid var(--color-dark-300);
    }

    &:focus {
      background-color: inherit;
      outline: 1px solid var(--color-dark-300);
    }

    .selectIcon {
      fill: var(--color-dark-300);
    }

    &[data-placeholder] {
      color: var(--color-dark-300);
    }
  }
}

.selectContent {
  overflow: hidden;

  font-size: var(--font-size-m);
  line-height: var(--font-size-xxl);
  color: var(--color-light-100);

  background-color: white;
  background-color: var(--color-dark-900);
  border-radius: 6px;
}

.selectViewport {
  padding: 5px;
}

.selectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve-11);
}

.selectScrollButton {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 25px;

  color: var(--violet-11);

  background-color: white;
}
