/* reset */
button {
  all: unset;
}

.selectTrigger {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  min-width: 210px;
  padding: 6px 15px;

  font-size: var(--font-size-m);
  line-height: var(--font-size-xxl);
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
  border-radius: 2px;
  outline: 1px solid var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-500);
    outline: 1px solid var(--color-dark-100);
  }

  &:focus {
    background-color: inherit;
    outline: 2px solid var(--color-info-700);
  }

  &[data-placeholder] {
    color: var(--color-light-100);
  }
}

.selectIcon {
  color: var(--violet-11);
}

.selectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow:
    0 10px 38px -10px rgb(22 23 24 / 35%),
    0 10px 20px -15px rgb(22 23 24 / 20%);
}

.selectViewport {
  padding: 5px;
}

.selectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve-11);
}

.selectScrollButton {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 25px;

  color: var(--violet-11);

  background-color: white;
}
