.decks {
  width: 100%;
  margin-bottom: 24px;
}

.updated {
  cursor: pointer;
  fill: var(--color-light-100);
}

.linkToDeck {
  color: inherit;
  text-decoration: none;
}

.head {
  cursor: pointer;
  transition: background-color 0.8s;

  &:hover {
    background-color: var(--color-dark-300);
  }
}

.headName {
  display: inline-block;
  margin-right: 8px;
  white-space: nowrap;
}
