.content {
  max-width: 542px;
}

.subtitle {
  margin-bottom: 12px;
}

.input {
  margin-bottom: 12px;
}

.imageContainer {
  margin-bottom: 24px;
}

.uploadButton {
  margin-bottom: 24px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.uploadInput {
  width: 0;
}

.cardButton {
  cursor: pointer;
  height: 16px;
  margin-left: 10px;

  svg {
    fill: currentcolor;
  }
}
