@import '@/styles/form-container-mixin';

.card {
  @include form-container;

  padding: 33px 36px 41px;

  h1 {
    margin-bottom: 27px;
    text-align: center;
  }

  .input {
    margin-bottom: 36px;
  }
}
