@import '@/app/styles/mixins';

.filters {
  display: grid;
  grid-template-areas: 'search tabs slider clear';
  grid-template-columns: 1fr max-content minmax(251px, max-content) max-content;
  flex-wrap: wrap;
  gap: 24px;

  // @media (width <= 1165px) {
  //   flex-wrap: wrap;
  //   gap: 20px;
  //   justify-content: start;
  // }
}

.inputContainer {
  grid-area: 'search';
  min-width: 175px;
}

.tabs {
  grid-area: 'tabs';
  min-width: max-content;
}

.slider {
  grid-area: 'slider';
  min-width: max-content;
  max-width: 251px;
}

.button {
  grid-area: 'clear';
  min-width: max-content;
}
