@import '@/app/styles/mixins';

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  // grid-template-areas: 'search tabs slider clear';

  // @media (width <= 1165px) {
  //   flex-wrap: wrap;
  //   gap: 20px;
  //   justify-content: start;
  // }
}

.inputContainer {
  flex: 1;
  min-width: 175px;
}

.input {
  padding: 6px 12px;
}

.tabs {
  flex: 0 0 max-content;
}

.slider {
  max-width: 251px;
}

.button {
  min-width: max-content;
}
