.container {
  padding: var(--layout-padding);
  padding-bottom: 144px;
}

.deckTitle {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 15px;
}

.dropdownWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cover {
  width: 170px;
  height: 107px;
  margin-top: 15px;
  object-fit: cover;
}

.input {
  margin-top: 24px;
  margin-bottom: 24px;
}

.pagination {
  margin-top: 24px;
}
