@import '@/app/styles/mixins';

.deckTitle {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (width <= 600px) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.dropdownWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cover {
  width: 170px;
  height: 107px;
  margin-top: 15px;
  object-fit: cover;
}

@include mobile {
  .cover {
    width: 100%;
    height: unset;
  }
}
