.container {
  padding: var(--layout-padding);
  padding-bottom: 144px;
}

.backToLink {
  margin-bottom: 36px;
}

.card {
  padding: 33px 36px 48px;
}

.title {
  margin-bottom: 45px;
}

.question {
  font-weight: 700;
}
