.table {
  width: 100%;
}

.questionCell {
  display: flex;
  gap: 10px;
  align-items: center;
}

.questionImg {
  display: inline;
  width: 118px;
  height: 48px;
  object-fit: cover;
}

.gradeCell {
  display: flex;
  gap: 20px;
}

.buttonsWrapper {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.cardButton {
  cursor: pointer;
  height: 16px;
  margin-left: 10px;

  svg {
    fill: currentcolor;
  }
}
