.name {
  border-bottom: 1px dashed;
  transition: color 0.7s;
}

.triggerButton {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  gap: 14px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 2px;

  font-family: inherit;

  border: none;
  border-radius: 50%;

  svg {
    fill: none;
  }

  &:hover {
    .name {
      color: var(--color-accent-100);
    }

    .avatar {
      border: 2px solid var(--color-accent-100);
    }
  }
}

.dropdownMenuContent {
  will-change: transform, opacity;

  padding: 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;

  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  &[data-side='top'] {
    animation-name: slideDownAndFade;
  }

  &[data-side='bottom'] {
    animation-name: slide-up-and-fade;
  }
}

.dropdownMenuArrow {
  transform: rotate(45deg) translate(-4px, -3px);

  width: 10px;
  height: 10px;

  background-color: var(--color-dark-700);
  border-right: 1px solid var(--color-dark-500);
  border-bottom: 1px solid var(--color-dark-500);

  polygon {
    display: none;
  }
}

@keyframes slide-up-and-fade {
  from {
    transform: translateY(2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down-and-fade {
  from {
    transform: translateY(-2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
