.selectItem {
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  border-radius: 2px;

  &[data-disabled] {
    pointer-events: none;
    color: grey;
  }

  &[data-highlighted] {
    color: red;
    background-color: var(--violet-9);
    outline: none;
  }
}

.selectItemIndicator {
  position: absolute;
  left: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
}
